@model IEnumerable<RallyPortal.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TeamName
        </th>
        <th>
            DriverName
        </th>
        <th>
            CoDriverName
        </th>
        <th>
            TeamImageUrl
        </th>
        <th>
            DriverImageUrl
        </th>
        <th>
            CoDriverImageUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoDriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoDriverImageUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
